body {
    background: url(/basemt.github.io/imgs/bg.gif) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;    
    margin: 0;
    padding: 20px; 
}

h1, p {
    font-size: 80px;
    color: #fff;
    text-align: center;
    animation: glow 1s ease-in-out infinite alternate;
  }
  
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fadeec, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #f4cfe1, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }

.container {
    max-width: 800px;
    margin: 0 auto;
}

h1 {
    color: blue;
    font-family: 'Great Vibes';
    text-align: center;
    font-size: 48px;
    margin-top: 0;
}

h2 {
    color: blue;
    font-family: 'Fjalla One';
    text-align: left;
    font-size: 24px;
    margin-bottom: 20px;
}

p {
    color: blue;
    font-family: 'Fjalla One';
    text-align: right;
    font-size: 24px;
    margin: 0;
}

/* Media Query for smaller screens */
@media (max-width: 768px) {
    h1 {
        font-size: 36px;
    }

    h2 {
        font-size: 20px;
    }

    p {
        font-size: 20px;
    }
}