* {
    box-sizing: border-box;
  }

  html {
    cursor: none;
  }
  #cursor {
    height: 25px;
    width: 25px;
    border-radius: 20px;
    background-color: #E52323;
    border:2px solid #950404; 
    position: absolute;
    z-index: 3;
  }
  
  body {
    margin: 0;
    
  }
  
  a {
    color: rgb(0, 0, 0);
    text-decoration: none;
  }
  
  li {
    margin-right: 2rem;
  }
  
  img {
    width: 100%;
    height: auto;
  }
  
  .footer {
    padding: 2rem;
    text-align: center;
  }
  
  /* header styles begin here */
  .header {
    width: 100%;
    padding: 0 2rem;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    background: black;
  }
  
  .main-title {
    font-family: Helvetica, sans-serif;
    font-size: 1.5rem;
    text-align: center;
    color: white;
  }
  
  .navigation {
    display: none;
    font-family: Helvetica, sans-serif;
    font-size: 2rem;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .navigation #navlist {
        margin-right: 2rem;
  }
  
  .mobile-menu {
    position: absolute;
    font-family: Helvetica, sans-serif;
    text-decoration: underline;
    text-transform: uppercase;
    font-size: 1.3rem;
    color: white;
    top: 20px;
    left: 15px;
    z-index: 2;
  }
  
  .mobile-navigation {
    background: whitesmoke;
    min-height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Helvetica, sans-serif;
    font-size: 2rem;
    display: none;
  }
  
  .mobile-navigation li {
    margin: 0;
  }
  
  .header.open .mobile-navigation {
    display: flex;
    position: absolute;
    background: whitesmoke;
  }
  
  .header.open .mobile-menu {
    color:black;
  }

#json-data {
  position: relative;
    margin: 20px;
    padding: 20px;
    border: 1px solid black;
  }

  #json-data p {
    font-family: Helvetica, sans-serif;
    color: white;
    font-size: 2rem;
    margin: 10px;
  }

  #modal-close{
    color: black;
    font-family: Helvetica, sans-serif;
    font-size: 1.8rem;
    text-align: right;
    text-decoration: underline;
    margin-top: -20px;
  }
  
  #modal-name {
    color: black;
    font-family: Helvetica, sans-serif;
    font-size: 1.75rem;
    text-align: left;
    text-decoration: underline;
    margin-bottom: -5px;
    margin-top: -2px;
  }

  #modal-style {
    color: black;
    font-family: Helvetica, sans-serif;
    font-size: 1.2rem;
    text-align: right;
    margin-bottom: -30px;
  }

  #modal-consumptiondate {
    color: black;
    font-family: Helvetica, sans-serif;
    font-size: 1.2rem;
    text-align: center;
  }

  #modal-price {
    color: black;
    font-family: Helvetica, sans-serif;
    font-size: 1.8rem;
    text-align: center;
  }

  #modal {
    position: fixed;
    top: 30%;
    left: 45%;
    height: 30%;
    width: auto;
    background-color: #EDEBEB;
    border: 4px solid #E52323;
    padding: 30px;
    visibility: hidden;
  }

  .numbers{
    color: black;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    display: block;
  }

  @media only screen and (min-width: 800px) {
    .header {
      justify-content: space-between;
      
    }
  
    .main-title {
      text-align: left;
      font-size: 2rem;
    }
    .navigation {
      display: flex;
      flex-direction: row;
      font-size: 1.7rem;
      font-style: italic;
    }
  
      .navigation ul{
      display: flex;
      list-style-type: none;
      align-items: center;
  }
  
    ul li a{
      display: inline-block;
      padding: 0 20px;
      text-decoration: none;
      color:white;
  }
  
  li a::after{
      content:'';
      display: block;
      height: 4px;
      width: 0;
      background: white;
      transition: all .5s;
  }
  
  li a:hover::after{
      width: 100%;
  }
  
    .mobile-menu {
      display: none;
    }
  
    #json-data {
        font-family: Helvetica, sans-serif;
        color: rgb(0, 0, 0);
        font-size: 1rem;
        margin: 30px;
        height: 85vh;
        border: 20px solid black;
      }

    .first-section {
      height: 8vh;
    }
  
    .second-section {
      background: rgb(0, 0, 0);
    }
  
    .second-section p {
      font-size: 1.5rem;
      font-family: Helvetica, sans-serif;   
      color: whitesmoke;
    }
  
    .shape {
      position: absolute;
  }
  
  .triangle {
      width: 75px;
      height: 80px;
      clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
      border-radius: 30%;
      background-color: #FFB74A;
      border:5px solid #AE6900; 
      transition: all 1s;

      
  }

  .triangle:hover {
    /* filter: drop-shadow(10px 10px 10px #1b1b1d77); */
    transform: rotate(180deg);
    border:5px solid #950404; 
    background-image: linear-gradient(to bottom right,rgb(252, 158, 75), rgb(249, 118, 37), rgb(254, 191, 43));
  }

  .slice { 
    width: 4px;
    height: 100%;
    background-color: #e8d83a;
  }

  .slice-1 {
    transform: rotate(45deg);
  }

  .slider{
    position: absolute;
    width: 10vw;
    height: 45.5vw;
    outline: none;
    top: 0;
    bottom: -18px;
    left: 0;
    right: 0;
    margin: auto;
    display: block;
  }

#first, #rangevalue {
  font-family: Helvetica, sans-serif;
  font-size: 1rem;
}

  }
  