/* Some default properties to begin with  */

* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    background-color: black;
  }

  html {
    cursor: none;
  }
  #cursor {
    height: 20px;
    width: 20px;
    border-radius: 20px;
    background-color: #E52323;
    border:2px solid #950404; 
    position: absolute;
    z-index: 3;
  }
  
  a {
    color: rgb(0, 0, 0);
    text-decoration: none;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    margin-right: 2rem;
  }
  
  img {
    width: 100%;
    height: auto;
  }
  
  .footer {
    padding: 2rem;
    text-align: center;
  }
  
  /* header styles begin here */
  .header {
    width: 100%;
    padding: 0 2rem;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: black;
  }
  
  .main-title {
    font-family: Helvetica, sans-serif;
    font-size: 1.5rem;
    text-align: center;
    color: white;
  }
  
  .navigation {
    display: none;
    font-family: Helvetica, sans-serif;
    font-size: 2rem;
  }
  
  .mobile-menu {
    position: absolute;
    font-family: Helvetica, sans-serif;
    text-decoration: underline;
    text-transform: uppercase;
    font-size: 1.3rem;
    color: white;
    top: 20px;
    left: 15px;
    z-index: 2;
  }
  
  .mobile-navigation {
    background: whitesmoke;
    min-height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Helvetica, sans-serif;
    font-size: 2rem;
    display: none;
  }
  
  .mobile-navigation li {
    margin: 0;
  }
  
  .header.open .mobile-navigation {
    display: flex;
    position: absolute;
    background: whitesmoke;
  }
  
  .header.open .mobile-menu {
    color:black;
  }
  
  
  /* second section */
  .second-section {
    background: whitesmoke;
    display: flex;
    padding: 3rem;
    
  }
  
  .second-section p {
  font-size: 1.5rem;
  font-family: Helvetica, sans-serif;  
  color: black;
  margin-top: -10pt;
  margin-bottom: -9pt;
  }
  
  /* third section */
  .third-section {
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .image-box {
    margin: 3rem;
    filter: drop-shadow(7px 7px 7px #727272);
  }
  
  .fourth-section {
    min-height: 10vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
 
  
  .fifth-section {
    min-height: 10vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .h2fifth {
    text-transform: lowercase;
    text-align: center;
    font-size: 1.5rem;
    color: whitesmoke;
    font-family: 'Source Serif Pro'; 
  }
  

  
      /*
      button {
        position: fixed;
        height: 2rem;
        width: 5rem;
        font-size: 1.5rem;
        border-radius: 5px;
        border: none;
        box-shadow: 1px 1px 5px black;
        background-image: 
        linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet, red);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;  
      animation: rainbow-animation 420s linear infinite;
      }
    
      @keyframes rainbow-animation {
        to {
            background-position: 4500vh;
        }}
  */
  
  /*Parameters for the Grid of images 
  -display grid: will show the content in one grid 
  -template-columns: sets the min and mix size of the columns for the grid depending on the size of the page 
  -auto-rows: sets the heught of each row. You could set mins and max for this, but I felt like it looked better with a singular value for right now. Plus there is still a decent level of responsive transition moving from desktop to phone 
  -grid gap: just used for spacing so each div isnt extremely close to the other 
  */
  
  img 
  {
  height: 100%;
  width: 100%;
  object-fit: cover;
  }
  /*Used to ensure that the images maintain their full height and width*/
  
  
  /* media query for desktop values */
  @media only screen and (min-width: 800px) {
    .header {
      justify-content: space-between;
      
    }
  
    .main-title {
      text-align: left;
      font-size: 2rem;
    }
    .navigation {
      display: flex;
      flex-direction: row;
      font-size: 1.7rem;
      font-style: italic;
    }
  
      ul{
      display: flex;
      list-style-type: none;
      align-items: center;
  }
  
    ul li a{
      display: inline-block;
      padding: 0 20px;
      text-decoration: none;
      color:white;
  }
  
  li a::after{
      content:'';
      display: block;
      height: 4px;
      width: 0;
      background: white;
      transition: all .5s;
  }
  
  li a:hover::after{
      width: 100%;
  }
  
    .mobile-menu {
      display: none;
    }
  
    .first-section {
      height: 8vh;
      
    }
  
    .second-section {
      background: rgb(0, 0, 0);
    }
  
    .second-section p {
      font-size: 1.5rem;
      font-family: Helvetica, sans-serif;   
  color: whitesmoke;
    }

  }
  
  