body {
    background-image: url("./imgsp1/background1.jpg");
    background-size: 1440px;
}

h1{
    text-align: left;
    margin-left: 350px;
    margin-top: 200px;
    margin-bottom: 0px;
    font-size:50px
}



